{% extends "base.html" %}
{% block pagetitle %}Travel Request Application
  
{% endblock pagetitle %}
{% block maincontent %}
  <div class="row">
        <div class="col-md-12">
      {# my content #}

        {% url 'travel:createTravel' as the_url1 %}
      <p><a class="btn btn-primary btn-lg" role="button" href="{{ the_url1 }}">New Claim Request</a></p>
      
      

      </div>
    </div>

    

    <div class="row">
      {% if doc_list %}
      <table class="table">
        <tr>
          <th>Request Number</th>
          <th>Request Date</th>
          <th>Requestor Name</th>
          

          <th>Department</th>
          <th>Amount</th>
        </tr>
        {% for doc in doc_list  %}
            <tr>
            <td class="col-md-2"><a href="/travel/{{ doc.id}}/view">{{ doc.id}}</a></td>
            <td class="col-md-2">{{ doc.request_date }}</td>
            <td class="col-md-3">{{ doc.requestor_name }}</td>
           
            <td class="col-md-2">{{ doc.emp_division }}</td>
             <td class="col-md-3">{{ doc.total_request_amount }}</td>
            </tr>
          {% endfor %}
        
        

      </table>
      {% else %}
        <p>no documents</p>
        {% endif %}
        
        

      </div>
{% endblock maincontent %}
    	





